// ********************************
// 変数
// ********************************

// content width
$pc-m: 1480px;
$pc-s: 1200px;
$tab: 960px;
$sp: 560px;

// color
$skyBlue: #D3E3EF;
$lightBlue: rgba($skyBlue,.3);
$blue: #2C4BA8;
$lightPurple: #E1E1F0;
$emerald: #2C78A8;
$orange: #F19500;
$lightBlack: #150F04;

// font-family
$f-sans: 'Noto Sans JP', sans-serif;
$f-serif: 'Noto Serif JP', serif;
$f-roboto: 'Roboto', sans-serif;
$f-robotoCondensed: 'RobotoCondensed', sans-serif;