@use "../global"as *;

.postArchive {
  @include p120;

  .container {
    @include sectionWidth;

    dl {
      @include contentWidth720;
      margin-bottom: 60px;

      .inner {
        border-bottom: 1px solid $blue;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;

        @include tab {
          font-size: 1.4rem;
          display: block;
        }

        &:last-child {
          margin-bottom: 0;
        }

        dt {
            margin-bottom: 10px;

          .date {
            display: inline-block;
            margin-right: 20px;
          }

          .category {
            display: inline-block;
            padding: 4px 20px;
            background: $skyBlue;
            border-radius: 100px;
            font-size: 1.4rem;
            line-height: 1;

            @include tab {
              padding: 3px 15px;
            }
          }
        }

        dd {
          width: 100%;
        }

        i {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0 , -50%);
        }
      }
    }

    .nav-links {
      text-align: center;

      span,
      a {
        display: inline-block;
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $lightBlue;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      .current {
        font-weight: bold;
      }

      i {
        margin: 0 10px;
      }
    }
  }
}