@use "../global"as *;

.recruitAbout {
  @include p120;

  .container {
    width: min(100% - 80px, 960px);
    margin: 0 auto;

    @include sp {
      width: min(100% - 40px, 960px);
    }

    h2 {
      text-align: center;
      font-size: 3rem;
    }
  }
}


.recruitForm {
  margin-bottom: 100px;

  .container {
    width: min(100% - 80px, 860px);
    margin: 0 auto;

    @include sp {
      width: min(100% - 40px, 860px);
    }
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 25px;
    text-align: center;
  }
}



.recruitForm {

  form {
    width: min(100%, 880px);
    margin: 0 auto 60px;

    @include tab {
      width: min(100%, 560px);
      margin-bottom: 40px;
    }

    .inner {
      margin-bottom: 30px;
      display: flex;
      gap: 30px;
      position: relative;

      @include tab {
        display: block;
        margin: 0 auto 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      label {
        width: 220px;
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-family: $f-serif;

        @include tab {
          display: block;
          width: auto;
          margin-top: 0;
          margin-bottom: 10px;
        }

        .title {
          font-weight: 500;
          font-size: 1.8rem;

          @include pc-s {
            font-size: 1.6rem;

            @include tab {
              margin-right: 20px;
            }
          }
        }

        .require {
          font-size: 1.4rem;
          color: #fff;
          background: $blue;
          padding: 2px 6px;

          @include tab {
            font-size: 1.2rem;
          }
        }
      }

      input,
      textarea {
        flex: 1;
        padding: 4px 8px;
        border: 1px solid #B7B7B7;
        font-size: 100%;

        @include tab {
          width: 100%;
        }
      }
      select {
        padding: 4px 2px;
      }
    }
    .zipFrom {
      input {
        width: 140px;
        flex: none;
      }
    }
  }
}

.error {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}

// mwwp
.formBox {
  margin-bottom: 60px;

  @include tab {
    margin-bottom: 40px;
  }
}



// チェックボックス
.topForm__button {
  text-align: center;

  .check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;

    .mwform-checkbox-field input,
    .mwform-radio-field input {
      width: 20px;
      height: 20px;
      margin: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .red {
      color: $blue;
      font-weight: 500;
      margin-left: 10px;
    }
  }


  button[type="submit"] {
    display: inline-block;
    width: 200px;
    padding: 18px 0;
    background: $lightBlack;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 100px;

    &:hover {
      cursor: pointer;
    }

    @include tab {
      font-size: 1.4rem;
    }
  }

  p {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include sp {
      display: block;
    }

    button {
      @include sp {
        display: block;
        margin: 0 auto 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    button[name="submitBack"] {
      background: #dcdcdc;
      color: #000;
    }
  }
}